/* .nav {
  display: flex;
  text-align: right;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: 600;
}

.nav ul li {
  padding: 1rem;
}

.nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
}

.nav a:hover {
  color: #e09900;
} */

.nav ul {
  list-style: none;
  padding-inline-start: 0;
}

.menuLink a {
  color: #000;
  text-decoration: none;
  padding: 8px;
  margin-left: -8px;
  font-size: 1.2rem;
  font-weight: 500;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
.menuLink a:hover {
  background: #282828;
  color: #fff;
}
