.display {
  font-size: calc(1rem + 5vw);
  margin: 0.67em 0;
  font-weight: bold;
  /* padding: 0.67em 0; */
}
.headingOne {
  font-size: calc(1rem + 1.15vw);
  margin: 0.67em 0;
  color: rgb(109, 109, 109);
  font-family: 'Gilroy-Regular';
  font-weight: normal;
  padding: 0 0 5rem 0;
}

.subSlogan {
  display: grid;
  grid-template-columns: 1fr;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .subSlogan {
    display: block;
    max-width: 60%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .display {
    font-size: 4.8rem;
    margin: 0.37em 0;
    font-weight: bold;
    /* padding: 0.67em 0; */
  }
  .headingOne {
    font-size: 1.8rem;
    margin: 0.67em 0;
    color: rgb(109, 109, 109);
    font-family: 'Gilroy-Regular';
    font-weight: normal;
  }
}
